{{#each products}}
<h1></h1>

*/ name, description, price list items
<form action="/cart" method="post">
<input name="product" type="text" value="{{this.id}}">
<button type="submit">Add to Cart</button>
</form>

*/ on handler.js, 
let cart = {"products":[]}

(cart is same process as newslettersignup)

add exports.addToCartProcess